html {
    box-sizing: border-box;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

header,
.hero,
.info,
.quote,
.call {
    padding: 36px 15%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

ul.links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    list-style: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}

.hero-title,
.hero-description {
    margin: 0;
}

.hero-button {
    margin-top: 8px;
    align-self: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.info-title {
    text-align: center;
    margin: 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.card {
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-subtext {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote-text {
    margin: 0;
}

.author {
    align-self: flex-end;
    margin: 0;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-compartment {
    width: 1000px;
    padding: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-title {
    margin: 8px 0;
}

.call-subtext {
    margin: 8px 0;
}

footer {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}




header,
.hero,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-description,
.links a {
    font-size: 18px;
    color: #E5E7EB;
}

.links a {
    text-decoration: none;
    font-size: 12px;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 10px;
    color: #E5E7EB;
    font-weight: 900;
    border-width: 0px;
    border-style: solid;
    border-color: white;
    height: 36px;
    padding: 8px 24px;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card-image {
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #3882f6;
    padding: 8px;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    color: #1F2937;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    color: #1F2937;
    font-size: 18px;
    font-weight: 900;
}

.call-compartment,
.call-button {
    background-color: #3882f6;
    border-radius: 10px;
    color: #E5E7EB;
}

.call-button {
    font-weight: 900;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    height: 36px;
    padding: 8px 24px;
}

.call-title {
    font-size: 24px;
    font-weight: 900;
}